<body class="body">
<div class="container">
  <div class="jumbotron">
    <h1 class="sitetitle">Social Posts</h1>
    <br><br>
    <p>
      This is a Mean Stack application where you can posts what you want and comment in the posts that you want.
    </p>
  </div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/list">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create">Create new Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/log">Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<br>
<footer>

</footer>
</body>