.btn-primary {
    margin-right: 5px;
}

.btn-warning {
    margin-right: 5px;
}

.btn-danger {
    margin-right: 5px;
}

.card-title {
    font-weight: bold;
    font-size: 30px;
}

.card-text {
    font-size: 10px;
}
