<div *ngFor ="let post of posts" class="card mt-4">
  <div class="card-body">
    <h4 class="card-title">{{ post.title }}</h4>
    <p class="description">{{ post.description }}</p>
    <p class="card-text">Author: {{ post.responsible }}</p>
    <p class="card-text">Date: {{ post.date }}</p>
    <a class="btn btn-primary" (click)="seePost(post._id)">See Post</a>
    <a class="btn btn-warning" (click)="editPost(post._id)">Edit Post</a>
    <a class="btn btn-danger" (click)="deletePost(post._id)">Delete Post</a>
  </div>
</div>