<div class="jumbotron">
      <h1>Post:</h1>
      <p>Title: {{post.title}}</p>
      <p>Description: {{post.description}}</p>
      <p>Author: {{post.responsible}}</p>
      <h1>Edit Post</h1>
      <form class=form>
          <div class="form-group">
            <label for="formGroupExampleInput">Title:</label>
            <input ngModel name="title" #title="ngModel"  #post.title="ngModel" id="title" type="text" class="form-control" placeholder="Ex: World Cup Final">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Description:</label>
            <textarea ngModel name="description" #description="ngModel"  #description="ngModel" class="form-control" rows="5" id="description" placeholder="Ex: I liked World Cup"></textarea>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Author:</label>
            <input ngModel name="author" #author="ngModel"  #author="ngModel" type="text" class="form-control" id="author" placeholder="Ex: Ricardo Lucas">
          </div>
          <div class="buttons">
            <a class="btn btn-primary" routerLink="/list">Back</a>
            <a class="btn btn-success" (click)="updatePost(title.value, description.value, author.value)">Edit Post</a>
          </div>
      </form>
  </div>